body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif, Helvetica;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #132e35;
}

nav .logo {
  height: 42px;
}

nav .profile-image {
  height: 42px;
  width: 42px;
  border-radius: 21px;
  overflow: hidden;
  margin: 0 10px 0 20px;
}

nav .profile-image img {
  width: 100%;
}

nav .main-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav .info-container {
  display: flex;
  align-items: center;
}

nav p {
  color: white;
  padding: 0;
  margin: 0;
}

button {
  display: none;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 21px;
  background-color: #69818d;
  color: white;
}

button:hover {
  background-color: #91473d;
}

button:active {
  background-color: #612d26;
}

nav .nav-link-container {
  display: flex;
}

nav .nav-link-container a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 20px 20px 0 0;
  margin: 10px 10px 0 10px;
  padding: 20px 20px 30px 20px;
}

nav .nav-link-container a:hover {
  background-color: #afb3b7;
  color: #132e35;
}

@media screen and (max-width: 840px) {
  nav {
    display: block;
  }

  nav .nav-link-container {
    padding: 10px;
    flex-direction: column;
  }

  nav .main-container {
    justify-content: space-between;
  }

  .hidden {
    display: none !important;
  }

  button {
    display: block;
  }

  nav .nav-link-container a {
    margin: 0px;
    padding: 20px;
    border-radius: 20px;
  }
}
